@import "./varijable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pozadina {
  background: $crvena;
  background-image: url(/images/bg-intro-desktop.png);
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.col1,
.col2 {
  flex: 50%;
}
h1 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 30px;
}
p {
  line-height: 2rem;
  font-size: 1.2rem;
  padding-right: 80px;
}

.col2 {
  display: flex;
  flex-direction: column;
  .kartica {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    margin-top: 30px;
    p {
      margin-top: 15px;
      font-weight: 400;
      font-size: 0.8rem;
      text-align: center;
      color: $siva;
      padding: 0;
    }
    input {
      outline: none;
      border: 1px $siva solid;
      border-radius: 10px;
      padding: 20px 30px;
      margin-bottom: 5px;
    }
    ::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
    }
    button {
      padding-top: 25px;
      padding-bottom: 20px;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      background-color: $zelena;
      color: #fff;
      border: none;
      outline: none;
      border-radius: 7px;
      border-bottom: 5px hsl(154, 58%, 36%) solid;
    }
    button:hover {
      cursor: pointer;
      transition: all 0.3s;
      filter: brightness(110%);
    }
    .terms {
      color: $crvena;
      font-weight: 700;
    }
  }
  .trial {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1rem;
    font-weight: 700;
    background-color: $plava;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 3px 0px;
  }
  .trialce {
    font-weight: 400;
  }
}
#label {
  color: $crvena;
  padding-bottom: 15px;
  justify-content: end;
  font-size: 0.8rem;
  visibility: hidden;
}
#label2 {
  color: $crvena;
  padding-bottom: 15px;
  justify-content: end;
  font-size: 0.8rem;
  visibility: hidden;
}
#label3 {
  color: $crvena;
  padding-bottom: 15px;
  justify-content: end;
  font-size: 0.8rem;
  visibility: hidden;
}
#label4 {
  color: $crvena;
  padding-bottom: 15px;
  justify-content: end;
  font-size: 0.8rem;
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .col1 {
    text-align: center;
    h1 {
      font-size: 2rem;
      line-height: 2.7rem;
      margin-top: 100px;
    }
    p {
      padding-right: 0;
      font-size: 1rem;
      margin-bottom: 50px;
    }
  }
  .kartica {
    padding: 20px !important;
  }
  .trial {
    padding-right: 50px;
    padding-left: 50px;
    line-height: 1.5rem;
  }
}
